@page "/members/add"

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="members">Members</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>

<h3>Add Members</h3>

<hr />

<!-- Add Form -->
<MemberForm Member="@member"
              ContextButtonText="Add Member"
              OnValidSubmit="@CreateMember" />

@code {
    Member member = new Member();

    public void CreateMember() => Console.WriteLine("teste");
}
