@page "/authors/addbook/{AuthorId:int}"
@inject HttpClient crud
@inject NavigationManager nav
@inject IJSRuntime js

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="authors">Authors</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Books</li>
    </ol>
</nav>

<h3>Add Books to Author</h3>

<hr />



@code {
    // This is a parameter for the URL
    [Parameter] public int AuthorId { get; set; }

    Author author = new Author();

    // This will get the author data accordingly to URL
    protected override async Task OnInitializedAsync()
    {
        author = await crud.GetFromJsonAsync<Author>($"api/Authors/{AuthorId}");
    }

    // This will update the author data
    async Task UpdateAuthor(int AuthorId, Author Author)
    {
        await crud.PutAsJsonAsync<Author>($"api/Authors/{AuthorId}", author);
        await js.InvokeVoidAsync("alert", $"Books linked to author succesfully!");
        nav.NavigateTo("authors");
    }
}
