<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Library Control System</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <!-- Home/Dashboard -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <hr />

        <!-- Transit -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transit">
                <span class="oi oi-loop" aria-hidden="true"></span> Transit
            </NavLink>
        </li>

        <hr />

        <!-- Members -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="members">
                <span class="oi oi-people" aria-hidden="true"></span> Members
            </NavLink>
        </li>

        <!-- Books -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="oi oi-book" aria-hidden="true"></span> Books
            </NavLink>
        </li>

        <!-- Authors -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="authors">
                <span class="oi oi-person" aria-hidden="true"></span> Authors
            </NavLink>
        </li>

        <!-- Categories -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-bookmark" aria-hidden="true"></span> Categories
            </NavLink>
        </li>
    </ul>
</div>

@code {
    // NavMenu portion of code (SideBar and NavBar)

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
